<nav class="menu">
    <ul>
      <li><a routerLink="/home/input"><i class="fas fa-at"></i> Input</a></li>
      <li><a routerLink="/home/output"><i class="fas fa-at"></i> Output</a></li>
      <li><a routerLink="/home/view-child"><i class="fas fa-at"></i> ViewChild</a></li>
      <li><a routerLink="/home/services"><i class="fas fa-cog"></i> Services</a></li>
      <li><a routerLink="/home/event-emmiter"><i class="fas fa-code"></i> EventEmmiter</a></li>
      <li><a routerLink="/home/signals"><i class="fas fa-code"></i> Signals</a></li>
    </ul>
  </nav>