.menu {
  background-color: #333;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  text-align: center;
  margin: 20px 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.menu ul li a i {
  margin-right: 10px;
  padding: 10px;
}

.menu ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}