<div class="container">
    <div class="notes-container">
        <header class="notes-header">
            <h1>Technical Notes </h1>
            <p>Do not forget</p>
        </header>
        <ul class="notes-list">
            <li><code>&#64;Output()</code> decorator allows you to pass data to flow from the child out to the parent.</li>
            <li><code>EventEmitter</code> Creates an instance of this class that can deliver events.</li>
        </ul>
    </div>

    <div class="component-wrapper">

        <h3>Parent Component</h3>
        <p> <b>Name: </b> {{ name }}     </p>

        <div class="components-container">
            <app-output-first class="child" (nameEmitter)="readName($event)"></app-output-first> 
            <app-output-second class="child" (lastnameEmitter)="readLastname($event)"></app-output-second>
        </div>
    </div>
</div>