.wrapper {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.content h1 {
    color: #333
}